.DS_Store

.venv/
venv/

__pycache__/
*.py[cod]

.ipynb_checkpoints/

.pytest_cache/
.mypy_cache/

Perso.ipynb

AI Project Notes.md
personalNottes.md
DATA_VALIDATION_REPORT.md
AI Project Notes.md
personalNottes.md

DOSSIER_SYNTHESE_MSPR_TPRE813.docx
~$SSIER_SYNTHESE_MSPR_TPRE813.docx
.claude/